<div class="users-container">
  
  <!-- Lista de usuarios -->
  <div class="users-list">
    <div 
      *ngFor="let user of users" 
      class="user-card" 
      [class.selected]="user === selectedUser"
      (click)="selectUser(user)">
  
      <!-- Fila principal (Avatar, Nombre y Estado) -->
      <div class="user-info">
        <div class="avatar">{{ getInitials(user.name) }}</div>
        <p class="user-name">{{ user.name }}</p>
        <p class="user-status"
        [ngClass]="user.active ? 'active' : 'inactive'"
        (click)="toggleUserStatus(user)">
       {{ user.active ? 'Activo' : 'Inactivo' }}
     </p>
     
     
      </div>
  
      <!-- Última conexión (debajo) -->
    <!--   <p class="last-login">Última conexión: {{ user.lastLogin | date:'short' }}</p> -->
    </div>
  </div>
  

  <!-- Panel de detalles del usuario -->
 <!--  <div class="user-details" *ngIf="selectedUser">
    <h2 *ngIf="!editing">{{ selectedUser.name }}</h2>
    <input *ngIf="editing" [(ngModel)]="selectedUser.name" type="text" />
  
    <p>Email: <span *ngIf="!editing">{{ selectedUser.email }}</span>
    <input *ngIf="editing" [(ngModel)]="selectedUser.email" type="email" /></p>
  
    <p>Estado: 
      <span *ngIf="!editing" [ngClass]="selectedUser.active ? 'active' : 'inactive'">
        {{ selectedUser.active ? 'Activo' : 'Inactivo' }}
      </span>
      <select *ngIf="editing" [(ngModel)]="selectedUser.active">
        <option [value]="true">Activo</option>
        <option [value]="false">Inactivo</option>
      </select>
    </p>
  
    <button *ngIf="!editing" (click)="editUser(selectedUser)">Editar</button>
    <button *ngIf="editing" (click)="saveUser()">Guardar</button>
    <button *ngIf="editing" (click)="editing = false">Cancelar</button>
  </div> -->
  
  
</div>
